:root {
    --clr-graphic: hsl(252, 66%, 62%);
    --clr-ui: hsl(28, 89%, 67%);
    --clr-apps: hsl(0, 78%, 79%);
    --clr-illust: hsl(7, 77%, 66%);
    --clr-photo: hsl(172, 46%, 57%);
    --clr-motion: hsl(314, 45%, 23%);
    --clr-dark: hsl(0, 0%, 1%);
    --clr-body: hsl(49, 5%, 43%);
    --clr-light: hsl(28, 100%, 97%);
    --clr-motion-title: hsl(0, 0%, 77%);
    --clr-attr: hsl(252, 67%, 61%);
}