@use './functions' as *;

@mixin btn-dark {
    border-radius: rem(28);
    font-size: var(--fs-btn);
    font-weight: var(--fw-2);
    color: var(--clr-light);
    background-color: var(--clr-dark);
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--clr-graphic);
    }

    &:focus-visible {
        outline: rem(4) solid var(--clr-graphic);
        outline-offset: rem(3);
    }
}

@mixin btn-light {
    border-radius: rem(28);
    font-size: var(--fs-btn);
    font-weight: var(--fw-2);
    color: var(--clr-dark);
    background-color: var(--clr-illust);
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--clr-ui);
    }

    &:focus-visible {
        outline: rem(4) solid var(--clr-graphic);
        outline-offset: rem(3);
    }
}

@mixin btn-arrow {
    border-radius: 50%;
    border: none;
    padding: 24px;
    cursor: pointer;
    background-color: var(--clr-dark);
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--clr-graphic);
    }
    
    &:focus-visible {
        outline: rem(4) solid var(--clr-graphic);
        outline-offset: rem(3);
    }
}