@use './functions' as *;

@mixin btn-dark {
    border-radius: rem(28);
    font-size: var(--fs-btn);
    font-weight: var(--fw-2);
    color: var(--clr-light);
    background-color: var(--clr-dark);
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--clr-graphic);
    }
}

@mixin btn-light {
    border-radius: rem(28);
    font-size: var(--fs-btn);
    font-weight: var(--fw-2);
    color: var(--clr-light);
    background-color: var(--clr-illust);
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--clr-ui);
    }
}

@mixin btn-arrow {
    border-radius: 50%;
    border: none;
    background-color: var(--clr-dark);
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--clr-graphic);
    }
}